doctype html
html(lang="en")
  head
    title= title
  body
    h1 Timestamp microservice API
    p
        | User stories:
        ul
            li 
                | I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date.
            li 
                | If it does, it returns both the Unix timestamp and the natural language form of that date.
            li 
                | If it does not contain a date or Unix timestamp, it returns null for those properties.
    
    p
        | Example usage:
        ul
            li
                | https://my-api/12/15/2015
            li
                | https://my-api/1450137600
    
    p    
        | Example output:
        ul
            li
                | Unix Time: 1450137600
            li
                | Natural Time: 12/15/2015
                
    p
        | (Note: my-api is the app root url address)